body {
    margin: 0;
    background-color: rgb(151, 158, 248);
    width: 100vw;
    height: fit-content;
}

header {
    text-align: center;
    padding: 25px;
    margin-bottom: 50px;
    background: linear-gradient(
    to right, 
    rgb(2, 45, 124), 
    rgb(65, 2, 168));
    background-size: cover;
    width: 100vw;
}

h1 {
    font-family: "Dank Mono", ui-monospace, monospace;
    color: white;
}

img {
    width: 10em;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.result {
    display: flex;
    justify-content: center;
    /* margin-top: 100px; */
    align-items: center;
    gap: 100px;
}

.playAgain {
    display: flex;
    justify-content: center;
}

.versusContainer {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.versus {
    background: linear-gradient(
    to right, 
    rgb(65, 2, 168),
    rgb(2, 45, 124));
    font-family: "Dank Mono", ui-monospace, monospace;
    color: white;
    font-size: 3em;
    padding: 0.3em;
    border-radius: 0.5em;
    text-align: center;
    min-width: fit-content;
    margin-bottom: 30px;
}

.player, .computer {
    text-align: center;
    font-family: "Dank Mono", ui-monospace, monospace;
    font-size: 2em;
}

.roundWinner {
    font-family: "Dank Mono", ui-monospace, monospace;
    text-align: center;
    width: 150px;
}



/* Buttons */

.button {
    --c: rgb(2, 45, 124);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
     width: 12em;
    height: 3em; 
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.button:hover {
    transform: translateY(0) scale(1.1);
}

.reset {
    --c: rgb(65, 2, 168);
    color: var(--c);
    margin-top: 5em;
}
  

@media only screen and (max-width: 480px) {
    body {
        font-size: x-small;
    }

    .btn {
        gap: 0px   
    }

    .button {
        font-size: small;
    }

    .result {
        gap: 15px;
        font-size: x-small;
    }
  }

  @media only screen and (max-width: 768px) {
    .btn {
        gap: 20px;
    }

    .result {
        gap: 30px;
    }

    .roundWinner {
        font-size: medium;
    }
  }